{% extends 'base.html' %}
{% load static %}

{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Severe Cases</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Upgrade Cases data</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <form  method="POST" action="{% url 'upgrade_severe' %}" accept="">
                                      {% csrf_token %}
                                        <div class="form-group">
                                            {% if message %}
                                            <div class="alert alert-success" role="alert">
                                                {{message}}
                                            </div>
                                            {% endif %}
                                            {% if messagefailed %}
                                            <div class="alert alert-danger" role="alert">
                                                {{messagefailed}}
                                            </div>
                                            {% endif %}
                                        </div>
                                      <div class="form-row">
                                        <input type="text" class="form-control" value="severe" name="casename" hidden>
                                        <div class="form-group col-md-6">
                                          <label>Year</label>
                                          <select  class="form-control" name="year">
                                              <option>2016</option>
                                              <option>2017</option>
                                              <option>2018</option>
                                              <option>2019</option>
                                              <option>2020</option>
                                              <option>2021</option>
                                              <option>2022</option>
                                              <option>2023</option>
                                              <option>2024</option>
                                              <option>2025</option>
                                              <option>2026</option>
                                              <option>2027</option>
                                              <option>2028</option>
                                              <option>2030</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label>Value</label>
                                          <input type="number" class="form-control" name="value">
                                        </div>
                                        <div class="form-group col-md-12">
                                          <input type="submit" class="btn btn-primary" value="Upgrade">
                                        </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->


{% endblock %}